* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: rgb(224, 193, 209);
  background: linear-gradient(
    135deg,
    rgba(224, 193, 209, 1) 0%,
    rgba(188, 201, 244, 1) 100%
  );
}

main {
  display: flex;
  align-items: center;
  background: #f5f7ffd9;
  border-radius: 10px;
  padding: 60px;
  gap: 60px;
  width: 1080px;
}

main .content {
  display: flex;
}

main .content h2 {
  color: #2d2d2d;
  font-size: 42px;
}

main .content p {
  font-size: 24px;
  color: #1f1249;
  margin: 20px;
}

main .content .form-controler {
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  display: flex;
  position: relative;
}

main .content .form-controler input {
  border: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 16px;
  width: 100%;
}

main .content .form-controler input:focus {
  outline: 0;
}

main .content .form-controler.success input {
  border-color: #2ecc71;
}

main .content .form-controler.error input {
  border-color: #e74c3c;
}

main .content .form-controler small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 30px;
  visibility: hidden;
}
main .content .form-controler.error small {
  visibility: visible;
}

main .content button {
  width: 100%;
  background: linear-gradient(113.87deg, #2663df 14.81%, #758ff0 88.76%);
  box-shadow: 0px 6px 18px #9cadf2;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
